*Como sera encaminhado*: O Tmo é formatado e enviado em minutos, por exemplo 02:19, e separado por quebra de linha:
02:19
04:23
01:54
etc..

Adicione uma textarea (estilizada), onde adicionarei o relatorio no formato acima, um botão.

Design clean, minimalista, inputs do stripe, fundo branco, botões pretos. 

Quero dashboard de dados com metricas em gráficos por dias.

faça conexão com o firebase para salvar os dados do tmo, data e etc.. Vamos criar um servidor node.js. firebase.config e servicefb.json.